html {
    background-color: beige;
}
* {
    padding: 2px;
    margin: 2px;
}
.ceter-span {
    text-align: center;
}
h1, h2, h3 {
    display: block;
    text-align: center;
}
h1, h4, .quote {
    font-weight: bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(199, 219, 199);
}
h2, h3, .list-group-item {
    color: rgb(110, 109, 109);
}