html {
    background-color: beige;
}
* {
    padding: 2px;
    margin: 2px;
}
.ceter-span {
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(199, 219, 199);
}
h1, h2, h3, h4 {
    display: block;
    text-align: center;
}
h4 {
    text-decoration: underline;
}
#credit {
    display: block;
    text-align: center;
}
#funfacts{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
h1, h4, .quote {
    font-weight: bold;
}
h2, h3, .list-group-item {
    color: rgb(110, 109, 109);
}
#quotebox {
    background-color: rgb(248, 248, 239);
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
#morebox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid rgb(199, 219, 199);
}
#more {
    text-align: center;
}